.header {
	padding: 42px 0px 32px 0px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
	@media (max-width: $mobile) {
		padding: 14px 0px 27px 0px;
	}
	// .header__container
	&__container {
	}
	// .header__logo
	&__logo {
		img {
			height: 65px;
		}
		@media (max-width: $mobile) {
			img {
				height: 49px;
			}
		}
	}
}
